In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df = pd.read_csv("games.csv")

In [11]:
df.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5

In [7]:
df.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

In [9]:
df.describe()

,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
count,2.005800e+04,2.005800e+04,20058.000000,20058.000000,20058.000000,20058.000000
mean,1.483617e+12,1.483618e+12,60.465999,1596.631868,1588.831987,4.816981
std,2.850151e+10,2.850140e+10,33.570585,291.253376,291.036126,2.797152
min,1.376772e+12,1.376772e+12,1.000000,784.000000,789.000000,1.000000
25%,1.477548e+12,1.477548e+12,37.000000,1398.000000,1391.000000,3.000000
50%,1.496010e+12,1.496010e+12,55.000000,1567.000000,1562.000000,4.000000
75%,1.503170e+12,1.503170e+12,79.000000,1793.000000,1784.000000,6.000000
max,1.504493e+12,1.504494e+12,349.000000,2700.000000,2723.000000,28.000000

In [35]:
df['duration'] = df['last_move_at'] - df['created_at']
df['duration_mins'] = df['duration'].dt.total_seconds() / 60

In [13]:
df['created_at'] = pd.to_datetime(df['created_at'], unit='ms')
df['last_move_at'] = pd.to_datetime(df['last_move_at'], unit='ms')

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,start_time,end_time
0,TZJHLljE,False,2017-08-31 20:06:40.000,2017-08-31 20:06:40.000,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,2017-08-31 20:06:40.000,2017-08-31 20:06:40.000
1,l1NXvwaE,True,2017-08-30 21:53:20.000,2017-08-30 21:53:20.000,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,2017-08-30 21:53:20.000,2017-08-30 21:53:20.000
2,mIICvQHh,True,2017-08-30 21:53:20.000,2017-08-30 21:53:20.000,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,2017-08-30 21:53:20.000,2017-08-30 21:53:20.000
3,kWKvrqYL,True,2017-08-30 16:20:00.000,2017-08-30 16:20:00.000,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,2017-08-30 16:20:00.000,2017-08-30 16:20:00.000
4,9tXo1AUZ,True,2017-08-29 18:06:40.000,2017-08-29 18:06:40.000,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,2017-08-29 18:06:40.000,2017-08-29 18:06:40.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,EfqH7VVH,True,2017-07-11 16:35:14.342,2017-07-11 16:40:36.076,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2,2017-07-11 16:35:14.342,2017-07-11 16:40:36.076
20054,WSJDhbPl,True,2017-07-10 14:48:09.760,2017-07-10 15:00:33.979,82,mate,black,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2,2017-07-10 14:48:09.760,2017-07-10 15:00:33.979
20055,yrAas0Kj,True,2017-07-10 14:44:37.493,2017-07-10 14:47:30.327,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3,2017-07-10 14:44:37.493,2017-07-10 14:47:30.327
20056,b0v4tRyF,True,2017-07-10 14:15:27.019,2017-07-10 14:31:13.718,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4,2017-07-10 14:15:27.019,2017-07-10 14:31:13.718
20057,N8G2JHGG,True,2017-07-09 23:32:32.649,2017-07-09 23:44:49.348,78,mate,black,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3,2017-07-09 23:32:32.649,2017-07-09 23:44:49.348

In [14]:
df.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,start_time,end_time
0,TZJHLljE,False,2017-08-31 20:06:40,2017-08-31 20:06:40,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,2017-08-31 20:06:40,2017-08-31 20:06:40
1,l1NXvwaE,True,2017-08-30 21:53:20,2017-08-30 21:53:20,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,2017-08-30 21:53:20,2017-08-30 21:53:20
2,mIICvQHh,True,2017-08-30 21:53:20,2017-08-30 21:53:20,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,2017-08-30 21:53:20,2017-08-30 21:53:20
3,kWKvrqYL,True,2017-08-30 16:20:00,2017-08-30 16:20:00,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,2017-08-30 16:20:00,2017-08-30 16:20:00
4,9tXo1AUZ,True,2017-08-29 18:06:40,2017-08-29 18:06:40,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,2017-08-29 18:06:40,2017-08-29 18:06:40

In [41]:
df['rating_diff'] = abs(df['white_rating'] - df['black_rating'])

sns.set(style="whitegrid")

In [15]:
df['duration'] = df['last_move_at'] - df['created_at']

In [17]:
df.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,start_time,end_time,duration
0,TZJHLljE,False,2017-08-31 20:06:40,2017-08-31 20:06:40,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,2017-08-31 20:06:40,2017-08-31 20:06:40,0 days

In [22]:
df.drop(columns=["start_time","end_time"], inplace=True )

In [23]:
df.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,duration
0,TZJHLljE,False,2017-08-31 20:06:40,2017-08-31 20:06:40,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,0 days

# Normal Analytics

In [25]:
df["winner"].value_counts()

winner
white    10001
black     9107
draw       950
Name: count, dtype: int64

In [28]:
round(df["winner"].value_counts(normalize=True)*100)

winner
white    50.0
black    45.0
draw      5.0
Name: proportion, dtype: float64

In [30]:
df["opening_name"].value_counts().head(10)

opening_name
Van't Kruijs Opening                             368
Sicilian Defense                                 358
Sicilian Defense: Bowdler Attack                 296
Scotch Game                                      271
French Defense: Knight Variation                 271
Scandinavian Defense: Mieses-Kotroc Variation    259
Queen's Pawn Game: Mason Attack                  232
Queen's Pawn Game: Chigorin Variation            229
Scandinavian Defense                             223
Horwitz Defense                                  209
Name: count, dtype: int64

In [32]:
top_openings = df['opening_name'].value_counts().head(20).index
df[df['opening_name'].isin(top_openings)].groupby(['opening_name', 'winner']).size()

opening_name                                   winner
Caro-Kann Defense                              black      83
                                               draw        7
                                               white     109
Four Knights Game: Italian Variation           black      74
                                               draw        7
                                               white      95
French Defense: Knight Variation               black     121
                                               draw       15
                                               white     135
Horwitz Defense                                black      94
                                               draw        5
                                               white     110
Indian Game                                    black     100
                                               draw       12
                                               white      69
Italian Game: Anti-Fried Liver Defense         black      73
                                               draw       10
                                               white      97
King's Pawn Game: Wayward Queen Attack         black      84
                                               draw        6
                                               white      74
Modern Defense                                 black      87
                                               draw        6
                                               white      81
Owen Defense                                   black      83
                                               draw        9
                                               white      76
Philidor Defense #2                            black      96
                                               draw        8
                                               white      89
Philidor Defense #3                            black      67
                                               draw        4
                                               white     127
Queen's Pawn Game: Chigorin Variation          black     109
                                               draw        8
                                               white     112
Queen's Pawn Game: Mason Attack                black     103
                                               draw       13
                                               white     116
Scandinavian Defense                           black     123
                                               draw       10
                                               white      90
Scandinavian Defense: Mieses-Kotroc Variation  black      89
                                               draw        6
                                               white     164
Scotch Game                                    black     115
                                               draw       11
                                               white     145
Sicilian Defense                               black     194
                                               draw       15
                                               white     149
Sicilian Defense: Bowdler Attack               black     164
                                               draw       13
                                               white     119
Sicilian Defense: Old Sicilian                 black      93
                                               draw        6
                                               white      60
Van't Kruijs Opening                           black     226
                                               draw       16
                                               white     126
dtype: int64

In [37]:
df['duration_mins'].describe()
df[['duration_mins', 'turns']].corr()  # Correlation

               duration_mins     turns
duration_mins       1.000000  0.060526
turns               0.060526  1.000000

In [38]:
df.groupby('rated')['duration_mins'].describe()
df.groupby('rated')['turns'].mean()

rated
False    54.271586
True     61.962550
Name: turns, dtype: float64

In [39]:
df['opening_ply'].describe()
df.groupby('winner')['opening_ply'].mean()

winner
black    4.742396
draw     5.056842
white    4.862114
Name: opening_ply, dtype: float64

In [40]:
df['date'] = df['created_at'].dt.date
df['date'].value_counts().sort_index().head(10)  # Earliest days
df['date'].value_counts().sort_index().tail(10)  # Recent days

date
2017-08-26    307
2017-08-27    281
2017-08-28    302
2017-08-29    503
2017-08-30    396
2017-08-31    556
2017-09-01    458
2017-09-02    499
2017-09-03    534
2017-09-04     18
Name: count, dtype: int64